<section class="content-header">
    <h1>Admin </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Admin</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lista</h3>
            <div class="btn btn-info">ventas hora</div>
            <div class="btn btn-warning">posible pago hora</div>
            <div class="btn btn-danger">pago total</div>
        </div>
        <div class="box-body">
            <div class="col-md-2" ng-repeat="animal in vm.animales" style="margin-bottom: 5px;padding-right: 0px;">
                <label class="btn btn-default" style="width:100%" ng-disabled="vm.disabled[animal.id]">
                    {{animal.id}}.-{{animal.name}}
                    <div class="btn btn-info" style="display:block"><h5>{{vm.ventas[animal.id]}}</h5></div> 
                    <div class="btn btn-warning" style="display:block"><h5>{{vm.ventas[animal.id]*vm.configurations[0].proporcion}}</h5></div>
                    <div class="btn btn-danger" style="display:block"><h5>{{vm.pago[animal.id]*vm.configurations[0].proporcion}}</h5></div>  
                    <input type="checkbox" ng-model="vm.ch" name="{{animal.name}}" id="{{animal.id}}" value="{{animal.id}}" class="hidden" autocomplete="off" ng-change="vm.ganador(animal.id)" ng-disabled="vm.disabled[animal.id]">
                </label>
            </div>

            <div class="col-md-3">
                <h1>Total recolectado: </h1>
                <h3>{{vm.totalRecolectado}}</h3>
            </div>
            <div class="col-md-3">
                <h1>Total pagado hasta la fecha: </h1>
                <h3>{{vm.totalPagado* vm.configurations[0].proporcion}}</h3>
            </div>
            <div class="col-md-3">
                <h1>Total cobrado: </h1>
                <h3>{{vm.totalCobrado}}</h3>
            </div>

        </div>

    </div>
</section>