<section class="content">
    <form name="vm.registerForm" ng-submit="vm.register(vm.registerForm.$valid)" novalidate>
        <div class="form-group has-feedback" ng-class="{ 'has-error': vm.registerForm.name.$invalid && ( vm.formSubmitted || vm.registerForm.name.$touched) }">
            <input type="text" class="form-control" placeholder="Nombre Completo" ng-model="vm.name" name="name" ng-maxlength="30" required>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <p ng-show="vm.registerForm.name.$error.required && ( vm.formSubmitted || vm.registerForm.name.$touched)" class="help-block">Nombre Completo es requerido.</p>
            <p ng-show="vm.registerForm.name.$error.maxlength" class="help-block">Nombre Completo Es demasiado largo.</p>
            <p ng-show="vm.registerForm.name.$invalid && (vm.formSubmitted || vm.errors.name)" class="help-block">{{vm.errors.name}}</p>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': vm.registerForm.email.$invalid && ( vm.formSubmitted || vm.registerForm.email.$touched) }">
            <input type="email" class="form-control" placeholder="Email" ng-model="vm.email" name="email" ng-maxlength="30" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <p ng-show="vm.registerForm.email.$invalid && (vm.formSubmitted || vm.errors.email)" class="help-block">{{vm.errors.email}}</p>
            <p ng-show="vm.registerForm.email.$error.required && ( vm.formSubmitted || vm.registerForm.email.$touched)" class="help-block">Email es requerido.</p>
            <p ng-show="vm.registerForm.email.$error.email && vm.registerForm.email.$touched" class="help-block">No es un correo valido.</p>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': vm.registerForm.password.$invalid && ( vm.formSubmitted || vm.registerForm.password.$touched) }">
            <input type="password" class="form-control" placeholder="Password" ng-model="vm.password" name="password" ng-minlength="8" ng-maxlength="50" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <p ng-show="vm.registerForm.password.$error.required && ( vm.formSubmitted || vm.registerForm.password.$touched)" class="help-block">Password es requerido.</p>
            <p ng-show="vm.registerForm.password.$error.maxlength" class="help-block">Password es denasiado largo</p>
            <p ng-show="vm.registerForm.password.$invalid && vm.registerForm.password.$error.minlength && vm.registerForm.password.$touched" class="help-block">Password es deamsiado corta, debe tener al menos 8 caracteres</p>
            <p ng-show="vm.registerForm.password.$invalid && (vm.formSubmitted || vm.errors.password)" class="help-block">{{vm.errors.password}}</p>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': vm.registerForm.password_confirmation.$invalid && ( vm.formSubmitted || vm.registerForm.password_confirmation.$touched) }">
            <input type="password" class="form-control" placeholder="Password confirmation" ng-model="vm.password_confirmation" password-verify="vm.password" name="password_confirmation" ng-minlength="8" ng-maxlength="50" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <p ng-show="vm.registerForm.password_confirmation.$error.required && ( vm.formSubmitted || vm.registerForm.password_confirmation.$touched)" class="help-block">Password confirmation es requerido.</p>
            <p ng-show="vm.registerForm.password_confirmation.$error.passwordVerify && ( vm.formSubmitted || vm.registerForm.password_confirmation.$touched)" class="help-block">Password confirmation no coincide</p>
            <p ng-show="vm.registerForm.password_confirmation.$error.maxlength" class="help-block">Password confirmation es denasiado largo</p>
            <p ng-show="vm.registerForm.password_confirmation.$invalid && vm.registerForm.password_confirmation.$error.minlength && vm.registerForm.password_confirmation.$touched" class="help-block">Password es deamsiado corta, debe tener al menos 8 caracteres</p>
            <p ng-show="vm.registerForm.password_confirmation.$invalid && (vm.formSubmitted || vm.errors.password_confirmation)" class="help-block">{{vm.errors.password_confirmation}}</p>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': vm.registerForm.password.$invalid && ( vm.formSubmitted || vm.registerForm.password.$touched) }">
            <input type="password" class="form-control" placeholder="Password de confirmacion" ng-model="vm.passwordConfig" name="passwordConfig" ng-minlength="4" ng-maxlength="4" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': vm.registerForm.password_confirmation.$invalid && ( vm.formSubmitted || vm.registerForm.password_confirmation.$touched) }">
            <input type="username" class="form-control" placeholder="Username" ng-model="vm.username" name="username" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error': vm.registerForm.password_confirmation.$invalid && ( vm.formSubmitted || vm.registerForm.password_confirmation.$touched) }">
            <input type="number" class="form-control" ng-maxlength="50" placeholder="Particiapcion (enteros)" ng-model="vm.participacion" name="participacion" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
            </div>
        </div>
    </form>
</section>