<section class="content-header">
    <h1>Configuracion <small>Muestra la Configuracion</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Configuracion</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Configuration</h3>

        </div>
        <div class="box-body">
            <form name="vm.registerForm" ng-submit="vm.save(vm.registerForm.$valid)" novalidate>
                <div class="form-group has-feedback">
                    <label for="proporcion" class="col-sm-3 control-label">Proporcion</label>
                    <input type="number" class="form-control" placeholder="" ng-model="vm.proporcion" name="proporcion" required>
                </div>
                <div class="form-group has-feedback">
                    <label for="inicial" class="col-sm-3 control-label">Hora Inicial</label>
                    <input type="number" class="form-control" placeholder="" ng-model="vm.inicial" name="inicial" required>
                </div>
                <div class="form-group has-feedback">
                    <label for="final" class="col-sm-3 control-label">Hora Final</label>
                    <input type="number" class="form-control" placeholder="" ng-model="vm.final" name="final" required>
                </div>
                <div class="form-group has-feedback">
                    <label for="minimo" class="col-sm-3 control-label">Apuesta Minima</label>
                    <input type="number" class="form-control" placeholder="" ng-model="vm.minimo" name="minimo" required>
                </div>
                <div class="form-group has-feedback">
                    <label for="minimo" class="col-sm-3 control-label">Credito</label>
                    <input type="number" class="form-control" placeholder="" ng-model="vm.credito" name="minimo" required>
                </div>
                <div class="form-group has-feedback">
                    <label for="minimo" class="col-sm-3 control-label">Maximo de tickets a eliminar</label>
                    <input type="number" class="form-control" placeholder="" ng-model="vm.max_tickets_dia_eli" name="minimo" required>
                </div>
                <div class="form-group has-feedback">
                    <label for="minimo" class="col-sm-1 control-label">Abierto</label>
                    <label class="switch">
                        
                    <input type="checkbox" ng-model="vm.open" required>
                    <span class="slider round"></span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>