<section class="content-header">
    <h1>Reportes <small>
        <ol class="breadcrumb">
            <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Reportes</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
			<div class="box-body">
                <form ng-submit="vm.submit($event)" method="post">                        
					<div class="form-group">
						<div class="row">
						<div class="col-md-3">
							<label for="">desde</label>
							<datepicker   date-format="yyyy-MM-dd">
								<input ng-model="vm.initialDate" type="text"/>
							</datepicker>
						</div>
						<div class="col-md-3">
							<label for="">hasta</label>
							<datepicker   date-format="yyyy-MM-dd">
								<input ng-model="vm.finalDate" type="text"/>
							</datepicker>
						</div>
						<div class="col-md-3">							
							<label for="sel1">tipo De Reporte</label>
							<select class="form-control" id="sel1" ng-model="vm.type">
								<option ng-if="vm.can('manage.caja') || vm.can('manage.banca')" value=1>Ventas por dia</option>
								<option ng-if="vm.can('manage.caja') || vm.can('manage.banca')" value=2>resumen tickets</option>
								<option ng-if="vm.can('manage.caja') || vm.can('manage.banca')" value=3>Tickets Invalidados/ eliminados</option>
								<option ng-if="vm.can('manage.caja') || vm.can('manage.banca')" value=4>Balance</option>
								<option ng-if="vm.can('manage.caja') || vm.can('manage.banca')" value=5>Jugadas por dia</option>
								<option ng-if="vm.can('manage.agente') || vm.can('manage.banca')"value=6>vetas por punto</option>
								<option ng-if="vm.can('manage.agente') || vm.can('manage.banca')"value=7>detallado de venta por usuario</option>
								<option ng-if="vm.can('manage.agente') || vm.can('manage.banca')"value=8>general de venta por usuario</option>
								<option ng-if="vm.can('manage.agente') || vm.can('manage.banca')"value=9>general detallado resumido</option>
								<option ng-if="vm.can('manage.agente') || vm.can('manage.banca')"value=10>general</option>
								<option ng-if="vm.can('manage.agente') || vm.can('manage.banca')"value=11>agente por punto especifico</option>
								<option ng-if="vm.can('manage.agente') || vm.can('manage.banca')"value=12>agente por punto general</option>
								<option ng-if="vm.can('manage.distribuidor') || vm.can('manage.banca')"value=13>distribuidor general detallado</option>
								<option ng-if="vm.can('manage.distribuidor') || vm.can('manage.banca')"value=14>distribuidor general detallado resumido</option>
								<option ng-if="vm.can('manage.distribuidor') || vm.can('manage.banca')"value=15>distribuidor general</option>
								<option ng-if="vm.can('manage.distribuidor') || vm.can('manage.banca')"value=16>distribuidor por agente</option>
								<option ng-if="vm.can('manage.distribuidor') || vm.can('manage.banca')"value=17>distribuidor por agente general</option>									
							</select>
							
						</div>
						<div class="col-md-3">
							<button class="btn btn-success" type="submit">Aplicar</button>
						</div>
					</div>
					</div>
					<div class="form-group">
						<div class="row">						
							<div class="col-md-3" ng-if="vm.can('manage.agente') || vm.can('manage.banca')">
								<label for="sel2">Caja</label>
								<select class="form-control" id="sel2" ng-model="vm.cajaId" >
										<option ng-repeat="caja in vm.cajalist" value={{caja.id}}>{{caja.user.username}}</option>
								</select>
							</div>
							<div class="col-md-3"  ng-if="vm.can('manage.banca')">
								<label for="sel2">Agente</label>
								<select class="form-control" id="sel3" ng-model="vm.agentId">
										<option ng-repeat="agent in vm.agentlist" value={{agent.id}}>{{agent.user.username}}</option>
								</select>
							</div>
							<div class="col-md-3" ng-if="vm.can('manage.banca')">
								<label for="sel2">Disribuidores</label>
								<select class="form-control" id="sel4" ng-model="vm.distId" >
										<option ng-repeat="dist in vm.distlist" value={{dist.id}}>{{dist.user.username}}</option>
								</select>
							</div>
						</div>
					</div>
					
				</form>
				<div class="col-md-12" id="report-result" ng-if="vm.displayTable[1]">
						<div class="col-md-4"></div><label for=""><h2>TICKETS GANADORES</h2></label>
					<table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable[1]" dt-options="vm.dtOption[1]" dt-columns="vm.dtColumn[1]"></table>
					
				</div>
				<div class="col-md-12" id="report-result" ng-if="vm.displayTable[2]">
						<div class="col-md-4"></div><label for=""><h2>TICKETS PERDEDORES</h2></label>
					<table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable[2]" dt-options="vm.dtOption[2]" dt-columns="vm.dtColumn[2]"></table>
					
				</div>
				<div class="col-md-12" id="report-result" ng-if="vm.displayTable[3]">
					<div class="col-md-4"></div><label for=""><h2>TICKETS CANJEADOS</h2></label>
					<table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable[3]" dt-options="vm.dtOption[3]" dt-columns="vm.dtColumn[3]"></table>
					
				</div>
				<div class="col-md-12" id="report-result" ng-if="vm.displayTable[4]">
					<div class="col-md-4"></div><label for=""><h2>TICKETS ELIMINADOS</h2></label>
				<table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable[4]" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
				
				</div>
				<div class="col-md-12" id="report-result" ng-if="vm.displayTable[0]">
					<table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable[0]" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
					<div class="col-md-6">

					</div>
					<div class="col-md-6" ng-if="vm.displayTable[0]">
						<h1>total:{{vm.totalAmount}}</h1> 
					</div>
			
				</div>
				<div class="col-md-12" id="report-result" ng-if="vm.displayTable[1]">
						<div class="col-md-4"></div><label for=""><h2>TICKETS GANADORES</h2></label>
					<table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable[1]" dt-options="vm.dtOption[1]" dt-columns="vm.dtColumn[1]"></table>
					
				</div>
				
				<div class="col-md-12" id="report-result" ng-if="vm.displayTable[5]">
					<div class="col-md-4"></div><label for=""><h2>BALANCE</h2></label>
					<table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOption" dt-columns="vm.dtColumn"></table>
					
				</div>
			</div>
        </div>
    </section>