<section class="content-header">
    <h1>Lista de Cajas <small>Muestra la lista de cajas</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Lista de cajas</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lista de Caja</h3>
            <div class="box-tools pull-right">
                <a ui-sref="app.addcaja" class="btn btn-block btn-success btn-xs"><i class="fa fa-plus"></i> Añadir Nueva Caja</a>
            </div>
        </div>
        <div class="box-body">
            <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
        </div>
        <div class="box-footer">
            Footer
        </div>
    </div>
</section>