<section class="content-header">
    <h1>tickets <small>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">tickets</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lista</h3>           
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-6">
                  <div class="input-group">
                    <input type="text" ng-model="code" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" ng-click="vm.codeSearch(code)" type="button">Buscar Codigo</button>
                    </span>
                  </div>
                </div>
            </div>
              <div class="row">
                <div class="result-code col-lg-12">
                    
                      <div class="panel panel-default">
                        <div class="panel-body">
                          ticket
                        </div>
                         <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>code</th>
                                <th>date</th>
                                <th>hour</th>
                                <th>ganador</th>
                                <th>canjeado</th>                                
                                <th>animales</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{vm.mainTicket.data.code}}</td>
                                <td>{{vm.mainTicket.data.date}}</td>
                                <td>{{vm.mainTicket.data.hour}}:00</td>
                                <td ng-style="{'background-color': vm.ganador == 0 ? 'red' : 'blue'}"></td>
                                <td ng-style="{'background-color': vm.mainTicket.data.canjeado == 0 ? 'red' : 'blue'}"></td>                                
                                <td><div  ng-repeat="animal in vm.mainTicket.data.animales">{{animal.name}}x{{animal.value}}</div></td> 
                              </tr>                              
                            </tbody>
                          </table>                          
                      </div>
                    <div class="btn btn-info" ng-click="vm.disabled === true || vm.canjear()" style="margin-bottom: 50px;"  ng-disabled="">Canjear</div>
                </div>
              </div>
              
                 <table datatable="" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
              
        </div>
    </div>
    
    
</section>