<section class="content-header">
    <h1>tickets <small>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Caja</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Lista</h3>           
        </div>
        <div class="box-body">            
                <div class="row">
                    <form ng-submit="vm.submit($event)" method="post">
                         <div class="row">
                             <div class="form-group">
                                 <div class="col-md-4">
                                    <datepicker  date-min-limit="{{vm.initialDate}}" date-format="dd-MM-yyyy">
                                        <input ng-model="vm.initialDate" type="text"/>
                                    </datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="form-group" style="margin-left: 15px;">
                                 <div class="row">
                                     <div class="col-md-12">
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[0]">7:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[1]">8:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[2]">9:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[3]">10:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[4]">11:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[5]">12:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[6]">13:00</label>
                                       
                                    </div>

                                 </div>
                                <div class="row">
                                    <div class="col-md-12">
                                         <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[7]">14:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[8]">15:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[9]">16:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[10]">17:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[11]">18:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[12]">19:00</label>
                                        <label class="checkbox-inline hour"><input  type="checkbox" ng-model="vm.checked[13]">20:00</label>                                    
                                        
                                    </div>
                                </div>
                                 
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-8">
                        
                                <div class="form-group">
                                    <div class="row">   	
                                        <div class="col-md-3"  ng-repeat="animal in vm.animales"style="margin-bottom: 5px;padding-right: 0px;"><label class="btn btn-primary" >{{animal.id}}.-{{animal.name}}<img src="/img/animalitos/{{animal.name}}.jpg" ng-click="vm.check($event)" alt="..." class="img-thumbnail img-check" ><input type="checkbox" name="{{animal.name}}" id="{{animal.id}}" value="{{animal.id}}" class="hidden" autocomplete="off"></label></div>
                                    </div>
                                </div>
                        
                            </div>
                            <div class="col-md-4" style="text-align:center;">
                                <h2>ticket</h2>
                                <div class="inputs">
                                    <label for="total"><h1>TOTAL</h1></label>
                                    <input type="text" id="total" class="form-control" disabled ng-model="vm.total"> 
                                </div>
                                
                                <input type="submit"  value="chekear animales" class="btn btn-success" >
                                <input type="button"  value="Inprimir" class="btn btn-info" ng-click="vm.imprimir($event)">
                                <div class="ticket">
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                    </form> 
                </div>	
            
        </div>
        <div class="box-footer">
            Footer
        </div>
    </div>
</section>