<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini">Mis</span>
        <span class="logo-lg">Animalitos</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu" uib-dropdown>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
                        <img src="{{vm.userData.avatar}}" class="user-image" alt="User Image">
                        <!--onError="this.src='//placeholdit.imgix.net/~text?txtfont=monospace,bold&bg=DD4B39&txtclr=ffffff&txt=A&w=45&h=45&txtsize=16'"-->
                        <span class="hidden-xs">{{vm.userData.name | capitalize}}</span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li class="user-header">
                            <img src="{{vm.userData.avatar}}" class="img-circle" alt="User Image">
                            <!-- onError="this.src='//placeholdit.imgix.net/~text?txtfont=monospace,bold&bg=DD4B39&txtclr=ffffff&txt=A&w=90&h=90&txtsize=36'"-->
                            <p>
                                {{vm.userData.name | capitalize}}
                                <small>Member since {{vm.userData.created_at | datemillis |date:'MMMM yyyy' }}</small>
                            </p>
                        </li>

                        <li class="user-footer">

                            <div class="pull-right">
                                <a ui-sref="app.logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>